* {
    color: white;
    font-family: 'Quicksand' !important;
}

h1.slogan {
  font-family: 'Lexend', 'Quicksand' !important;
}

.container h1 {
  margin-top: 50px;
}

/* Fade-in base */
.hero {
  opacity: 0;
}

/* Navbar blur/shrink on scroll (optional) */
#navbar.navbar-scrolled {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}



.hero {
    background-image: url(/tech2.gif);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    padding: 60px 0;
    text-align: center;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .service-icon {
    font-size: 3rem;
    color: #ff0000;
  }

.container h1 {
    color: white;
    text-shadow:
    0 0 5px #00f,
    0 0 10px #00f,
    0 0 20px #00f,
    0 0 40px #0ff,
    0 0 80px #0ff;
}