a.nav-link {
    color: white;
}

.glow-text {
  color: white;
  text-shadow:
    0 0 5px #00f,
    0 0 10px #00f,
    0 0 20px #00f,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
}

